*::selection {
  background: #80BFB4;
}
::-moz-selection {
  background: #80BFB4;
}
body {
  font-family: 'Exo', sans-serif;
  font-weight: normal;
  background-color: #1a1a1a;
  margin: 0;
}
header, nav, footer, section, article, div {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: min-height 0.3s;

}
.header__inner {
  background-color: #232323;
  width: 100%;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header__logo {
  height:70px;
  float: left;
}
.header__name {
  font-size: 34px;
  color: #80BFB4;
  margin: 1px 2px;
  display: inline-block;
  text-decoration: none;
}
.header__job {
  font-size: 18px;
  color: white;
  position: absolute;
  left: 95px;
  top: 28px;
  display: inline-block;
}
.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  /* does it work? */
  width: 100%;
  top: 10px;
  left: 500px;
}
.nav__item {
  box-sizing: border-box;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  float: left;
}
.nav__item a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  transition: color .2s, border-bottom .2s;
}
.nav__item a:hover, a:focus {
  color: #80BFB4;
  border-bottom: 2px solid #80BFB4;
}

/* !important how to make it also active when I am on this specific section of the page? */
.nav .nav__list li.active > a {
  color: #80BFB4;
  border-bottom: 2px solid #80BFB4;
}
.banner {
  height: 100%;
  height: 637px;
}
#homeBanner {
  background: url(images/1200b.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 630px;
  overflow: hidden;
  background-size: cover;
  z-index: -1;
}
#bannerText {
  text-align: left;
  position: relative;
  padding-left: 18px;
  opacity: 1;
  margin-top: 200px;
  color: white;
  text-shadow: 2px 2px 8px #000000;
}
#bannerText h1 {
  font-size: 55px;
}
#bannerText p {
  font-size: 25px;
}
#downButton {
  background: url(https://i.imgur.com/KzTZXyc.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 70px 37px;
  width: 40px;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 100px;
  z-index: 1;
  display: block;
  text-align: center;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 20px;
}
#downButton:hover {
  fill: #80BFB4;
  top: 120px;
}





.block0 {
  background-color: white;
  width: 100%;
  height: 650px;
  margin-top: 20px;
}
.block0 h1 {
  font-size: 45px;
  color: inherit;
  text-align: center;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
.block0 p {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 30px;
  padding-top: 30px;
  max-width: 840px;
  line-height: 32px;
}
.colored {
  color: #80BFB4;
}
.highlight {
  color: #80BFB4;
  text-decoration: none;
}
.highlight:after {
  content: '🡢';
  position: relative;
  right: -2px;
  transition: 0.4s;
}
.highlight:hover:after {
  right: -10px;
}

.block0 h2, .block1 h2, .block2 h2 {
  font-size: 35px;
  text-align: center;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
}
.block0 h4, .block1 h4, .block2 h4 {
  font-size: 26px;
  font-weight: 100;
  color: inherit;
  text-align: center;
  position: relative;
  bottom: 20px;
}




.block1 {
  background-color: white;
  width: 100%;
  height: 650px;
  margin-top: 10px;
  padding: 0 20px;
}
.column {
  font-size: 50px;
  color: #80BFB4;
  text-align: center;
  display: inline-block;
  width: 30%;
  float: left;
  position: relative;
  margin-left: 4%;
  box-sizing: border-box;
  padding-top: 40px;
}
.column:first-child {
  margin-left: 0;
}
.shape {
  display: inline-block;
  position: relative;
  left: 10px;
}
.shapetitle {
  display: block;
  position: relative;
  left: 10px;
}
.column h2 {
  font-size: 30px;
  font-weight: bold;
  color: #1a1a1a;
  padding: 0;
  margin: 0;
}
.column p {
  font-size: 17px;
  font-weight: bold;
  color: #232323;
  max-width: 250px;
  min-width: 200px;
  position: relative;
  left: 60px;
}


.block2 {
  background-color: white;
  width: 100%;
  height: 1300px;
  margin-top: 20px;
  padding: 0 20px;
  user-select: none;
}
.block2 h2 {
  padding-top: 30px;
  margin-bottom: 60px;
}
.projects {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.projects > * {
  margin: 10px;
}
.pj {
  width: 30%;
  transition: transform .5s;
  margin-right: auto !important;
  margin-left: auto;
  margin-right: 20px;
}
.pj > a,h3,h4 {
  color: #232323;
  font-size: 20px;
  text-decoration: none;
}
.pj > a:link,a:hover,a:active,a:visited,a:focus,img {
  text-decoration: none;
  border: 0 none !important;
  outline:none;
  border-width: 0px;
  outline-width:0px;
  border-bottom: none;
}
.pj h3 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}
.pj h4 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}
.pj h3:hover {
  color: #80BFB4;
}
.thumbnail {
  width: 320px;
  height: 240px;
  user-select: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 8px;
  transition: transform .4s;
  transition: .4s ease;
  filter: brightness(60%);
  text-decoration: none; 
}
.thumbnail:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.05);
  filter: brightness(100%);
}

.block3 {
  background-color: #80BFB4;
  width: 100%;
  height: 350px;
  margin-top: 20px;
}
.block3 h2 {
  font-size: 35px;
  color: #1a1a1a;
  text-align: center;
  padding-top: 60px;
}
.block3 > h4 {
  width: 70%;
  font-size: 26px;
  font-weight: 100;
  color: inherit;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #232323;
  width: 100%;
  min-height: 200px;
  height: 250px;
}

.footer__logo {
  width: 150px;;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.made-by-me {
  color: #80BFB4;
  text-align: center;
  margin-top: 0;
}
.social {
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
}
.soc {
  font-size: 0;
  list-style: none;
  padding: 0;
}
.soc li {
  display: inline-block;
  margin: 8px;
}
.soc a, .soc svg {
  display: block;
}
.soc a {
  position: relative;
  height: 40px;
  width: 40px;
}
.soc svg {
  height: 100%;
  width: 100%;
}
.icon-4:hover, .icon-8:hover, .icon-10:hover, .icon-13:hover, .icon-17:hover {
  border-radius: 100%;
  color: #0e1a25;
  fill: #0e1a25;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
.icon-4 {
  color: #80BFB4;
  fill: #80BFB4;
}
.icon-4:hover {
  background: #80BFB4;
}
.icon-8 {
  color: #80BFB4;
  fill: #80BFB4;
}
.icon-8:hover {
  background: #80BFB4;
}
.icon-10 {
  color: #80BFB4;
  fill: #80BFB4;
}
.icon-10:hover {
  background: #80BFB4;
}
.icon-13 {
  color: #80BFB4;
  fill: #80BFB4;
}
.icon-13:hover {
  background: #80BFB4;
}
.icon-17 {
  color: #80BFB4;
  fill: #80BFB4;
}
.icon-17:hover {
  background: #80BFB4;
}
